.aaa{
    background: url("../img/back_0.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.custom_center{
    margin: 0 auto;
}
.margin_top_50{
    margin-top: 50px;
}
.width_80_procent{
    width: 80%;
    height: auto;
}
.width_70_procent{
    width: 70%;
    height: auto;
}
.width_100_procent{
    width: 100%;
    height: auto;
}
.width_150_150{
    width: 150px;
    height: 150px;
}
.nav-pills > li.active > a {
    background-color: #dc9f35;
}
.nav-pills>li.active>a:hover {
       background-color: #dc9f35;
   }
