
body {
    padding-top: 20px;
}
.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    border-bottom: 1px solid #e5e5e5;
}
.header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}
.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 19px;
}
@media (min-width: 768px) {
.container {
    /*max-width: 730px;*/
}
}
.container-narrow > hr {
    margin: 30px 0;
}
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
@media screen and (min-width: 768px) {
.header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
}
.header {
    margin-bottom: 30px;
}
.jumbotron {
    border-bottom: 0 none;
}
}
